<html>
  <head>
    <title>Date and Time</title>
    <style>
    *{
      font-family: sans-serif;
    }

    #header{
      width:250px;
      border: 2px solid black;
      margin: 0px auto;
      text-align: center;
    }

    #clock{
      text-align: center;
      font-size: 30px;
      width: 500px;
      border: 2px solid black;
      margin: 10px auto;
    }
    </style>
  </head>
  <body>
    <div id="header">The current time and date:</div>
    <div id="clock">
      <p>{{date}}</p>
      <p>{{time}}</p>
    </div>
  </body>
</html>
